<div>
    <div><h1>Registro de Distrito</h1></div>
    <div>
      <form [formGroup]="form" (submit)="aceptar()" style="text-align: center;">
  
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Codigo</mat-label>
          <input matInput readonly formControlName="hcodigo"/>
        </mat-form-field>
        <br />
  
        <mat-form-field>
          <mat-label>Distrito</mat-label>
          <mat-select formControlName="hdistrito">
            @for (food of listaDistrito; track food) {
            <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button class="custom-button" style="background-color: rgb(104, 20, 20); color:white" [disabled]="form.invalid">Registrar</button>        </div>
      </form>
    </div>
  </div>
  