<div>
    <div>
        <h1>Registrar ProductoxBotica</h1>
    </div>
    <div class="col-md-3 offset-md-3">
        <form [formGroup]="form"  (submit)="aceptar()" style="text-align: center;">
            <mat-form-field class="example-full-width" *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="hidDetalleOrden">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Cantidad de Producto</mat-label>
                <input matInput placeholder="5"  formControlName="hcantidadProducto">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Precio por toda la cantidad</mat-label>
                <input matInput placeholder="75.50"  formControlName="hprecioxCantidadProducto">
            </mat-form-field>
            <br>


            <mat-form-field class="example-full-width">
                <mat-label>Orden de Compra</mat-label>
                <mat-select formControlName="hOcompra">
                  @for (do of listaDO; track do) {
                    <mat-option [value]="do.ocompra.idOrdenCompra">{{do.ocompra.idOrdenCompra}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>

            <!---->
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Cod. Producto(Botica)</mat-label>
                <mat-select formControlName="hPxBotica">
                  @for (do of listaDO; track do) {
                    <mat-option [value]="do.pxBotica.idProductoxBotica">{{do.pxBotica.producto.nombreProducto}}({{ do.pxBotica.botica.nombreBotica }})</mat-option>
                  }
                </mat-select>
            </mat-form-field>

            <div>
                <button mat-flat-button class="btn btn-danger btn-lg" [disabled]="form.invalid">Registrar</button>
            </div>
            <br>
        </form>
    </div>
</div>
