<div>
    <div>
        <h1>Registrar Detalle de Orden</h1>
    </div>
    <div class="col-md-3 offset-md-3">
        <form [formGroup]="form"  (submit)="aceptar()" style="text-align: center;">
            <mat-form-field class="example-full-width" *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="hidDetalleOrden" readonly>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Cantidad de Producto</mat-label>
                <input matInput placeholder="5"  formControlName="hcantidadProducto">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Precio por cantidad (PEN)</mat-label>
                <input matInput placeholder="75.50"  formControlName="hprecioxCantidadProducto">
            </mat-form-field>
            <br>


            <mat-form-field class="example-full-width">
                <mat-label>Orden de Compra</mat-label>
                <mat-select formControlName="hOcompra">
                  @for (ocompra of listaOrdenCompra; track ocompra) {
                    <mat-option [value]="ocompra.idOrdenCompra">{{ocompra.idOrdenCompra}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>

            <!---->
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Producto(Botica)</mat-label>
                <mat-select formControlName="hPxBotica">
                  @for (pxBotica of listaProductoxBotica; track pxBotica) {
                    <mat-option [value]="pxBotica.idProductoxBotica">{{pxBotica.producto.nombreProducto}}({{ pxBotica.botica.nombreBotica }})</mat-option>
                  }
                </mat-select>
            </mat-form-field>

            <div>
                <button mat-button class="custom-button" style="background-color: rgb(104, 20, 20); color:white" [disabled]="form.invalid">Registrar</button>            </div>
            <br>
        </form>
    </div>
</div>
