<mat-toolbar class="custom-toolbar" style="background-color: rgb(70, 0, 0); color: white;" *ngIf="verificar()">
  <div  class="left-menu">
    <div class="logo" *ngIf="isCliente() || isDBotica()">
      <img src=" https://sebcordova.github.io/LandingPage/LOGORE.png" alt="Logo de la empresa"> 
  </div>
    <button mat-button [routerLink]="['/homes']" style="color: white;">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menuUsuario" style="color: white" *ngIf="isAdministrador()">
      <mat-icon>account_box</mat-icon> Usuarios
    </button>

    <button mat-button [matMenuTriggerFor]="menuRol" style="color: white" *ngIf="isAdministrador()">
      <mat-icon>assignment_ind</mat-icon> Roles
    </button>

    <button mat-button [matMenuTriggerFor]="menuDistrito" style="color: white" *ngIf="isAdministrador()">
      <mat-icon> add_location</mat-icon> Distritos
    </button>

    <button mat-button [matMenuTriggerFor]="menuBotica" style="color: white" *ngIf="isAdministrador() || isDBotica()">
      <mat-icon>store</mat-icon> Boticas
    </button>


    <button mat-button [matMenuTriggerFor]="menuProducto" style="color: white" *ngIf="isAdministrador()"> <!--Producto-->
      <mat-icon>shopping_basket</mat-icon> Producto
    </button>

    <button mat-button [matMenuTriggerFor]="menuProductoxbotica" style="color: white" *ngIf="isAdministrador() || isDBotica()"> <!--ProductoxBotica-->
      <mat-icon>business_center</mat-icon> ProductoxBotica
    </button>

    <button mat-button [matMenuTriggerFor]="menuOrden" style="color: white" *ngIf="isAdministrador() || isCliente()">
      <mat-icon> local_pharmacy</mat-icon> OrdenCompra
    </button>

    <button mat-button [matMenuTriggerFor]="menuDetalleOrden" style="color: white" *ngIf="isAdministrador() || isCliente()"> <!--detalleOrden-->
      <mat-icon>description</mat-icon> DetalleOrden
    </button>

    <button mat-button [matMenuTriggerFor]="menuComentario" style="color: white" *ngIf="isAdministrador() || isCliente() || isDBotica()">
      <mat-icon> comment</mat-icon> Comentario
    </button>

    <button mat-button [matMenuTriggerFor]="menuReportes" style="color: white" *ngIf="isAdministrador() || isCliente() || isDBotica()">
      <mat-icon> insert_drive_file</mat-icon>
      Reportes
    </button>
  </div>

    <div class="right-menu">
      <button mat-button [matMenuTriggerFor]="menuSalir" style="color: white">
        <mat-icon>person</mat-icon>
      </button>
    </div>
</mat-toolbar>

<mat-menu #menuUsuario="matMenu" style="background-color: rgb(70, 0, 0)">
  <button mat-menu-item routerLink="/usuarios" style="color: black">
    Listar
  </button>
  <button mat-menu-item routerLink="/usuarios/nuevo" style="color: black">
    Registrar
  </button>
</mat-menu>

<mat-menu #menuRol="matMenu" style="background-color: rgb(70, 0, 0)">
  <button mat-menu-item routerLink="/roles" style="color: black">
    Listar
  </button>
  <button mat-menu-item routerLink="/roles/nuevo" style="color: black">
    Registrar
  </button>
</mat-menu>

<mat-menu #menuBotica="matMenu" style="background-color: rgb(70, 0, 0)">
  <button mat-menu-item routerLink="/boticas" style="color: black">
    Listar
  </button>
  <button mat-menu-item routerLink="/boticas/nuevo" style="color: black">
    Registrar
  </button>
</mat-menu>

<!--Producto-->
<mat-menu #menuProducto="matMenu" style="background-color: rgb(70, 0, 0)">
  <button mat-menu-item routerLink="/productos" style="color: black">
    Listar
  </button>
  <button mat-menu-item routerLink="/productos/nuevo" style="color: black">
    Registrar
  </button>
</mat-menu>

<!--ProductoxBotica-->
<mat-menu #menuProductoxbotica="matMenu" style="background-color: rgb(70, 0, 0)">
  <button mat-menu-item routerLink="/productosxbotica" style="color: black">
    Listar
  </button>
  <button mat-menu-item routerLink="/productosxbotica/nuevo" style="color: black">
    Registrar
  </button>
</mat-menu>

<!--detalleOrden-->
<mat-menu #menuDetalleOrden="matMenu" style="background-color: rgb(70, 0, 0)">
  <button mat-menu-item routerLink="/detalleorden" style="color: black">
    Listar
  </button>
  <button mat-menu-item routerLink="/detalleorden/nuevo" style="color: black">
    Registrar
  </button>
</mat-menu>

<mat-menu #menuDistrito="matMenu" style="background-color: rgb(70, 0, 0)">
  <button mat-menu-item routerLink="/distritos" style="color: black">
    Listar
  </button>
  <button mat-menu-item routerLink="/distritos/nuevo" style="color: black">
    Registrar
  </button>
</mat-menu>

<mat-menu #menuOrden="matMenu" style="background-color: rgb(70, 0, 0)">
  <button mat-menu-item routerLink="/ordenescompras" style="color: black">
    Listar
  </button>
  <button mat-menu-item routerLink="/ordenescompras/nuevo" style="color: black">
    Registrar
  </button>
</mat-menu>

<mat-menu #menuComentario="matMenu" style="background-color: rgb(70, 0, 0)">
  <button mat-menu-item routerLink="/comentarios" style="color: black">
    Listar
  </button>
  <button mat-menu-item routerLink="/comentarios/nuevo" style="color: black">
    Registrar
  </button>
</mat-menu>

<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="/reportes">
    <mat-icon> pie_chart</mat-icon>Cantidad Boticas
  </button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item>
    Usuario:
    <span>{{ email }}</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
