<div>
    <div>
        <h1>Registrar Cuenta</h1>
    </div>
    <div class="col-md-3 offset-md-3">
        <form [formGroup]="form"  (submit)="aceptar()" style="text-align: center;">
            <mat-form-field class="example-full-width" *ngIf="edicion">
                <mat-label>Codigo</mat-label>
                <input matInput formControlName="hcodigo">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Ej. Luis Antonio"  formControlName="hnomUsuario">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Ej. Ramirez Herrera"  formControlName="hapelUsuario">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Dirección</mat-label>
                <input matInput placeholder="Ej. Av. Los Pinos 267"  formControlName="hdirUsuario">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Correo Electronico</mat-label>
                <input matInput placeholder="Ej. usuario@example.com"  formControlName="hcorreoUsuario">
                <mat-error *ngIf="form.value.hcorreoUsuario">Ingrese un correo valido</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="hclaveUsuario" minlength="6">
                <mat-error *ngIf="form.value.hclaveUsuario">La contraseña debe tener un mínimo de 6 caracteres</mat-error>
            </mat-form-field>
            <br>
            <div>
                <button mat-flat-button class="btn btn-danger btn-lg" [disabled]="form.invalid">Registrar</button>
            </div>
            <br>
        </form>
    </div>
</div>
