<div>
    <div><h1>Registro de Orden de Compra</h1></div>
    <div>
      <form [formGroup]="form" (submit)="aceptar()" style="text-align: center;">
        
          <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Codigo Orden Compra</mat-label>
          <input
            matInput
            placeholder="Ejem. 1"
            formControlName="hcodigo"
          />
        </mat-form-field>
        <br />

        <mat-form-field>
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="hfecha" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br />
          <br />

          <mat-form-field class="example-full-width">
            <mat-label>Monto</mat-label>
            <input matInput placeholder="7500" formControlName="hmonto" />
          </mat-form-field>
          <br />
  
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="hestado">
              @for (food of listaEstados; track food) {
              <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        <br />
  
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="husuario">
            @for (food of listaUsuarios; track food) {
            <mat-option [value]="food.idUsuario">{{ food.nomUsuario }} {{ food.apelUsuario }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <br />
        <div>
          <button mat-button class="custom-button" style="background-color: rgb(104, 20, 20); color:white" [disabled]="form.invalid">Registrar</button>        </div>
      </form>
    </div>
  </div>
  