<div>
    <div>
        <h1>Registrar ProductoxBotica</h1>
    </div>
    <div class="col-md-3 offset-md-3">
        <form [formGroup]="form"  (submit)="aceptar()" style="text-align: center;">
            <mat-form-field class="example-full-width" *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="hidProductoxBotica">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>PrecioProducto (PEN)</mat-label>
                <input matInput placeholder="50.6"  formControlName="hprecioproducto">
            </mat-form-field>
            <br>

            <mat-form-field>
                <mat-label>Fecha de Emisión</mat-label>
                <input matInput [matDatepicker]="picker1" placeholder="MM/DD/YYYY" [max]="fechaHoy" formControlName="hfechaemision">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              
            <br>

            <mat-form-field>
                <mat-label>Fecha de Vencimiento</mat-label>
                <input matInput [matDatepicker]="picker2" placeholder="MM/DD/YYYY" [min]="fechaHoy" formControlName="hfechavencimiento">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            <br>


            <mat-form-field class="example-full-width">
                <mat-label>Botica</mat-label>
                <mat-select formControlName="hbotica">
                  @for (botica of listaBoticas; track botica) {
                    <mat-option [value]="botica.idBotica">{{botica.nombreBotica}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>
       <!--   <mat-form-field class="example-full-width">
                <mat-label>Producto</mat-label>
                <input matInput placeholder="Panadol"  formControlName="hproducto" minlength="6">
            </mat-form-field>
            -->  
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Producto</mat-label>
                <mat-select formControlName="hproducto">
                  @for (producto of listaProductos; track producto) {
                    <mat-option [value]="producto.idProducto">{{producto.nombreProducto}}</mat-option>
                  }
                </mat-select>
            </mat-form-field>

            <br>
            <div>
              <button mat-button class="custom-button" style="background-color: rgb(104, 20, 20); color:white" [disabled]="form.invalid">Registrar</button>            </div>
            <br>
        </form>
    </div>
</div>
